.bookmark-button {
    display: inline-block;
    cursor: pointer;
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 70%, 0 100%);
    transition: background-color 0.3s ease;
    background-color: #000; /* Default color */
}


/* Responsive Adjustments */
@media (max-width: 768px) {
    .bookmark-button {
        width: 2em;
        height: 2em;
    }
}

@media (max-width: 480px) {
    .bookmark-button {
        width: 1.5em; 
        height: 1.5em;
    }
}