.listings{
	width:100%;
}
.head-3{
	color: #203856;
}
.carding{
	cursor: pointer;

}
.btn{
	border: none;
	background: #fd8b21;
	border-radius: 5px;
	padding: 5px 15px;
	cursor: pointer;
}
.btn:hover{
	background:rgb(245, 159, 80);
	color: #000;

}
/* .carding {
	max-width: 400px;
	overflow: hidden;
} */
.link{
	text-decoration: none;
	color: #fff;
}
.listing-card img {
	width: 100%; 
	height: 200px;
	object-fit: cover; 
	border-radius: 8px;
}
.listing-card {
	border-radius: 8px;
	margin: 0 20px;
}
.card-body h4{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
}
.card-body p {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
}
.detailButton:hover{
	background: #ffb36c;

}