.hero-section {
    background-image: url('../assets/images/exterior_6.jpg');
	display: flex;
	justify-content: center;
	align-items: center;
	height: 90vh;
	text-align: center;
}
.hero-content {
	background: rgba(0, 0, 0, 0.6);
	padding: 2rem;
	border-radius: 10px;
  }
  
  .hero-title {
	color: white;
	font-size: 3rem;
	font-weight: bold;
	margin-bottom: 1.5rem;
  }

